@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
}

.header-wrapper{
    display: flex;
    padding-top: 48px; 
    padding-left: 132px;
    align-items: center;
}

.header-logo{
    margin-right: 35px;
    width: 100px;
    height: 100px;
}

.header-logo-titel{
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: 400;
}

.header-logo-subtitel{
    padding-top: 3px;
    margin-right: 131px;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    font-weight: 400;
    color:  rgba(0, 0, 0, 0.4);
}

.header-navigation{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    text-decoration: none;
    margin-right: 33px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: color 0.2s linear;
}

.header-nav:hover{
    color:rgb(187, 31, 31);
}

.header-buttons{
    margin-left: 60px;
}

button{
    margin-right: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.page{
    display: flex;
}

.contacts-wrapper{
    padding-top: 93px; 
    padding-left: 182px;
    width: 445px;
    height: 227px;
    display: flex;
    flex-wrap: wrap;

}

.contacts-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 16px;
}

.contacts-subtitel{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.adress{
    margin-left: 124px;
}

.adress-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 16px;
}

.adress-subtitel{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.email-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 16px;
}

.email-subtitel{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.form-wrapper{
    width: 352px;
    height: 278px;
    padding-top: 93px; 
    padding-left: 220px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.form-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 38px;
}

.form-field{
    padding-bottom: 23px;
}

input{
    width: 352px;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.8);
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding-left: 8px;
}

.send-button{
    text-align: center;
    width: 360px;
}

.send{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    width:100%;
    height: 35px;
    color: #FFFFFF;
    transition: color 0.3s linear;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.send:hover{
    color: black;
}

.footer-wrapper{
    padding-top: 200px; 
    padding-left: 182px;
    width: 1000px;
    height: 200px;
    
}

.footer-titels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.documents-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

.documents-subtitel{
    display: flex;
    flex-direction: column;
}

.doc-nav{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s linear;
}

.footer-adress{
    padding-left: 250px;
}

.footer-adress-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

.footer-adress-subtitel{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.adr-nav{
    text-decoration: none;
    color: black;
    transition: color 0.3s linear;
}

.footer-contacts{
    padding-left: 70px;
}

.footer-contacts-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

.footer-contacts-subtitel{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.cnt-nav{
    
    color: black;
    transition: color 0.2s linear;
}

.doc-nav:hover{
    color:rgb(187, 31, 31);
}

.adr-nav:hover{
    color:rgb(187, 31, 31);
}

.cnt-nav:hover{
    color:rgb(187, 31, 31);
}

hr{
    width: 1400px;
    height: 1px;
    left: 80px;
    top: 301px; 
    background: rgba(0, 0, 0, 0.5);
}

.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.footer-end-left{
    padding-left: 220px;
}

.footer-end-right{
    display: flex;
    align-items: center;
    padding-right: 160px;
}

.footer-end-right-titel{
    padding-right: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-img{
    padding-right: 15px;
}