@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
}

.header-wrapper{
    display: flex;
    padding-top: 48px; 
    padding-left: 132px;
    align-items: center;
}

.header-logo{
    margin-right: 35px;
    width: 100px;
    height: 100px;
}

.header-logo-titel{
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: 400;
}

.header-logo-subtitel{
    padding-top: 3px;
    margin-right: 131px;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    font-weight: 400;
    color:  rgba(0, 0, 0, 0.4);
}

.header-navigation{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    text-decoration: none;
    margin-right: 33px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: color 0.2s linear;
}

.header-nav:hover{
    color:rgb(187, 31, 31);
}

.header-buttons{
    margin-left: 60px;
}

button{
    margin-right: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.main-wrapper{
    display: flex;
    padding: 64px 50px;
}

.main-left{
    width: 920px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin-left: 40px;
}

.img1{
    padding-bottom: 15px;
}

.img3{
    padding-left: 6px;
}

.main-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
}

.main-button{
    text-align: center;
    width: 192px;
}

.main-btn{
    background: rgba(50, 138, 188, 1);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 7px;
    width: 192px;
    height: 40px;
}

.statistics-wrapper{
    width: 1176px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 64px 80px;
}

.users-count{
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    font-family: 'Poppins';
}

.users-titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins';
    color: #282938;
}

.source-count{
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    font-family: 'Poppins';
}

.source-titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins';
    color: rgba(40, 41, 56, 1);
}

.checks-count{
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    font-family: 'Poppins';
}

.cheks-titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins';
    color: #282938;
}


.use-wrapper{
    display: flex;
    padding: 140px 50px;
}

.use-left{
    margin-left: 120px;
    font-family: 'Poppins';
    width: 700px;
    margin-right: 30px;
}

.use-left-titel{
    font-family: 'Montserrat  ';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 16px;
}

.use-left-subtitel{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(40, 41, 56, 1);
    padding-bottom: 16px;
}

.card1-image{
    padding-bottom: 16px;
}

.card1-titel{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #282938;
}

.card1-subtitel{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

.card1{
    padding-right: 25px;
    padding-bottom: 48px;
}

.user-right-cards{
    display: flex;
    flex-wrap: wrap;
}

.rates-wrapper{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.rates-titel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}


.rates-subscriptions{
    width: 1024px;
    height: 328px;
    padding-top:  100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basic{
    width: 376px;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.basic-titel-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.basic-titel{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
    padding-left:15px ;
}

.basic-price{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    color: #282938;

}

.basic-subtitel{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(40, 41, 56, 1);
}

.basic-button{
    text-align: center;
    width: 192px;
    padding-top: 50px;
}

.basic-btn{
    background: rgba(50, 138, 188, 1);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 7px;
    width: 192px;
    height: 40px;
}

.footer-wrapper{
    padding-top: 200px; 
    padding-left: 182px;
    width: 1000px;
    height: 200px;
    
}

.footer-titels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.documents-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

.documents-subtitel{
    display: flex;
    flex-direction: column;
}

.doc-nav{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s linear;
}

.footer-adress{
    padding-left: 250px;
}

.footer-adress-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

.footer-adress-subtitel{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.adr-nav{
    text-decoration: none;
    color: black;
    transition: color 0.3s linear;
}

.footer-contacts{
    padding-left: 70px;
}

.footer-contacts-titel{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

.footer-contacts-subtitel{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.cnt-nav{
    
    color: black;
    transition: color 0.2s linear;
}

.doc-nav:hover{
    color:rgb(187, 31, 31);
}

.adr-nav:hover{
    color:rgb(187, 31, 31);
}

.cnt-nav:hover{
    color:rgb(187, 31, 31);
}

hr{
    width: 1400px;
    height: 1px;
    left: 80px;
    top: 301px; 
    background: rgba(0, 0, 0, 0.5);
}

.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.footer-end-left{
    padding-left: 220px;
}

.footer-end-right{
    display: flex;
    align-items: center;
    padding-right: 160px;
}

.footer-end-right-titel{
    padding-right: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-img{
    padding-right: 15px;
}